body {
  background-color: #fff;
  color: white;
}

.login {
  cursor: pointer;
}

.login:hover {
  color:#d1772e;
}

.forgot-password {
  cursor: pointer;
}

.forgot-password:hover {
  color: #ca2323;
}

.small-text {
  font-size: 12px;
}